

body {
    background-color: #D5E1EF;
    min-height: 100vh;
    position: relative;
    font-family: cursive;
    text-align: center;
}

.qrcard {
    height: 470px;
    width: 100%;
    max-width: 302px;
    padding: 1rem;
    padding-bottom: 3rem;
    background-color: white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);

    /* position: fixed;
    inset: 0;
    margin: auto; */
    
}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}